<header>
    <nav>
        <a href = "home.html">Home</a>
        <a href = "contact.html">Contact</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p>
        copy about html one brick in a long road, 
        a golden brick, a solitary step, a single cell in a great castle
    </p>
    <p>
        the best search engine is 
        <a href = "https://duckduckgo.com">DuckDuckGo</a>
    </p>
    <div>
        <div>Box 1 </div>
        <div>Box 2 </div>
        <div>Box 3 </div>
        <div>Box 4 </div>
    </div>
</main>
<footer>
    <div>Copyright by Kit Carson</div>
    <div>I absolutely love pie</div>
</footer>