<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1> This is how we get contacted</h1>
    <p> contacting involves using phones making moves 
        and planning dates. Breaking the rules and making some 
        new rules too.
    </p>
    <p>
        a new paragraph not much to do about nothing 
    </p>
</main>
<footer>
    <div>coppy right </div>
</footer>